* {
    margin: 0;
    padding-bottom: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    padding: 80px 4%;
    background-color: black;
}

form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

form input {
    width: 100%;
    background-color: rgb(37, 37, 37);
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 10px;
    color: white;
    font-size: 18px;
}